# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs

/app

/assets/.thumbs
/assets/build
/source/apps
/assets/props/.thumbs

*.cbin
*.cinfo

# Too big to upload

exts/isaacsim.zmq.bridge/bin/lib/*.*
exts/isaacsim.zmq.bridge/bin/libisaacsim.zmq.bridge.plugin.so

/scratch.py
/temp.py
/release


/vendor/Video_Codec_SDK_12.2.72

tests/rtsp/deps
tests/rtsp/src/build
.nvcode
.nvidia-omniverse
_conan
_deps
_repo
_build
_compiler

.vscode/
source/

exts/isaacsim.zmq.bridge/isaacsim/zmq/bridge/ogn/
exts/isaacsim.zmq.bridge/PACKAGE-LICENSES/
exts/isaacsim.zmq.bridge/ogn/
exts/isaacsim.zmq.bridge/bin/


exts/isaacsim.zmq.bridge.examples/pip_prebundle
exts/isaacsim.zmq.bridge.examples/PACKAGE-LICENSES